@import './abstracts/variables';
@import './abstracts/mixin';
@import './base/reset';
@import './component/footer';
@import './component/nav';
@import './pages/home';
@import './component/subscribe';
@import './pages/about';
@import './pages/services';
@import './component/responsive';

body {
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    background-image: url(../images/showcase.jpg);
    height:400px;
    background-position: center center;
    background-size: cover;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;

}#name {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px;
}
.active {
    color:$primaryColor;
}