footer {
    height: 150px;
    background-color:#35424A ;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer img {
    margin-top: 10px;
    width:200px;
}