.logo {
    display: flex;
    min-height:400px;
    justify-content: center;
    align-items: center;
}
.box {
    text-align: center;
    padding: 30px;
    
}
.box img {
    width:80px;
  
}
.box h3 {
    font-size: 1.4rem;
    margin: 15px ;
}
